.header{
    background-color:#58ACFA;
    height:120px;
    font-family:"sans serif";
  }
  
  .header-logo{
    font-size:40px;
    padding:25px 40px;
    float:left;
    color:white;
  }
  
  .header-list li{
    font-size:25px;
    float:left;
    padding:40px 15px;
    list-style:none;
    color:white;  
    width:auto;
  }

  

 .main-title{
    font-size:70px;
    padding:20px 100px;
    font-family:"sans serif";
  }

  a { 
    color:black; 
    text-decoration:underline;
  }

  h2{
    padding-right:100px;
    padding-left:100px;
  }
  
  .mokuzi{
    font-size:30px;
    margin:50px 100px 0px 100px;
    border-top:1px solid black;
    border-bottom:1px solid black;    
  }

  .mokuzinaiyou{
    padding-left:100px;
    padding-right:100px;
    margin-top:25px;
    margin-bottom:70px;
　}

  
  h3{
    border-bottom:5px solid #990000;
    margin:50px 100px 30px 100px;
 }

  img{
    width:60%;
    height:auto;
    margin-left:20%;
    margin-right:20%;
  }

  video{
    width:60%;
    height:auto;
    margin-left:20%;
    margin-right:20%;
  }

 .team{
    margin-left:20%;
    margin-right:20%;
    margin-bottom:50px;
    font-size:20px;
 }

 .descri{
    width:60%;
    margin-left:20%;
    margin-right:20%;
 }

  .descri li{
    padding-left:100px;
    padding-right:100px;
    list-style:none;
  }

  h4{
    margin-left:20%;
    margin-right:20%;
  }


  .kihonzyouhou{
    margin-left:20%;
    margin-right:20%;
  }  
  

  
  table{
    margin-left:20%;
    margin-right:20%;
    font-size:20px;
  }

  
  
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  

  
  .footer{
    background-color:#2f5167;
    height:120px;
    font-family:"sans serif";
    margin-top:150px;
  }
  
  .footer-logo{
    font-size:40px;
    padding:30px;
    float:left;
    color:white;
  }
  
  .footer-list li{
    font-size:25px;
    float:left;
    padding:40px 20px;
    list-style:none;
    color:white;
  }
  
